@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="App settings (Key value) store">
    <meta name="keywords" content="key value pair, app settings, online store, online key value pair, free online, REST, API">
    <meta property="og:url" content="http://keyvalue.immanuel.co/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Full Free - Online - Key Value Store" />
    <meta property="og:description" content="Key value pair store, online, completely free. stores and maintains key value pair" />
    <meta property="og:image" content="http://www.immanuel.co/" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/animationCounter.js"></script>
    <link rel="shortcut icon" type="image/png" href="/favicon.ico" />
    <title>Free online Key-value store | A persistent key-value store | Immanuel</title>
    <meta name="robots" content="index, follow">
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />
    <meta name="identifier-url" content="http://www.immanuel.co">
    <meta name="Language" content="en, en-us, en-gb, en-bz, en-za">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">
</head>
<body style="font-family: 'Arial Narrow', Arial, sans-serif; background-color: rgba(15, 179, 179, 0.23);">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-102683358-1', 'auto');
        ga('send', 'pageview');

    </script>
    <div style="position:fixed;top:10px;left:15px;text-align: center;border: 2px green dashed;z-index:101;background-color:cadetblue;">
        <span style="background-color:azure;display:inline-block;width:70px;padding:5px;">Key Pair</span><br />
        <span style="color:white;font-size:large;" class="fb"></span> <br />
        <span style="background-color:azure;display:inline-block;width:70px;padding:5px;">Counts</span>
    </div>
    <div style="position:fixed;top:10px;right:15px;z-index:102;">
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Your like button code -->
        <div class="fb-like" data-href="http://keyvalue.immanuel.co/" data-layout="box_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
    </div>

    <div style="width:100%;height:100%;overflow:hidden;text-align:center;">
        <h1 style="color:darksalmon;">Free Online Key Value store</h1>
        <h4 style="color:white;">Manage, Increment, Decrement, Visitors Count</h4>
        <br />
        <hr />
        <div style="position:relative;padding-left: 20px;">
            <div style="float:left;width:55%;border-radius:15px;text-align:left;border: 2px red dashed;">
                <div style="text-align:center;background-color:#bff5ad;border-radius:15px;padding-bottom:10px;padding-top:10px;">
                    <h2>Developer API </h2>
                    <h4>Very simple &amp; totally free key - value persistence service </h4>
                </div>
                <div style="margin-left:10px;">
                    <br />
                    Step 1: Get your app-key  <br />
                    <pre style="background-color:#dad1d1;line-height:30px;display: inline-block;margin-left:20px;"> -> curl http://keyvalue.immanuel.co/api/KeyVal/GetAppKey 
    (above will return app key 8 digit alphanumeric - '3cg7aby9') </pre> <br /><br />
                    Step 2: Update your Key. value using App-key <br />
                    <pre style="background-color:#dad1d1;line-height:30px;display: inline-block;margin-left:20px;"> -> curl -X POST http://keyvalue.immanuel.co/api/KeyVal/UpdateValue/3cg7aby9/yourkey/yourvalue 
    (yourkey - maxlength = 64, yourvalue = maxlength = 1024) </pre> <br /><br />
                    Step 3: Retrieve ypur value using app-key and key <br />
                    <pre style="background-color:#dad1d1;line-height:30px;display: inline-block;margin-left:20px;"> -> curl http://keyvalue.immanuel.co/api/KeyVal/GetValue/3cg7aby9/yourkey 
    (above will return your key value) </pre> <br /><br />
                </div>
            </div>

            <div style="float:right;width:40%;border-radius:15px;text-align:left;margin-right:10px;border: 2px red dashed;">
                <div style="text-align:center;background-color:#bff5ad;border-radius:15px;padding-bottom:10px;padding-top:10px;">
                    <h2>Key Value Pair</h2>
                    <h4>Easy &amp; manage here</h4>
                </div>
                <div style="margin-left:10px;">
                    <br />
                    Step 1: Get your app-key  <br />
                    <pre style="background-color:#dad1d1;line-height:30px;display: inline-block;margin-left:20px;"> -> http://keyvalue.immanuel.co/api/KeyVal/GetAppKey  </pre>  <br />
                    <button id="btnkey" style="margin-left:20px;height:25px;">Get App Key</button> <input id="appkey" type="text" style="height:22px;" placeholder="App Key" /> <br /><br />
                    Step 2: Update your Key. value using App-key <br />
                    <pre style="background-color:#dad1d1;line-height:30px;display: inline-block;margin-left:20px;"> -> http://keyvalue.immanuel.co/api/KeyVal/UpdateValue/3cg7aby9/yourkey/yourvalue  </pre> <br />
                    <input id="yrAppKey" type="text" style="height:25px;margin-left:20px;width:75px;" placeholder="App Key" /> <input id="yrKey" type="text" style="height:25px;margin-left:20px;width:75px;" placeholder="Your Key" /> <input id="yrVal" type="text" style="margin-left:15px;height:22px;width:100px;" placeholder="Your Value" /> <button id="btnUpdate" style="margin-left:20px;height:25px;">Update</button> <br /><br />
                    Step 3: Retrieve ypur value using app-key and key <br />
                    <pre style="background-color:#dad1d1;line-height:30px;display: inline-block;margin-left:20px;"> -> http://keyvalue.immanuel.co/api/KeyVal/GetValue/3cg7aby9/yourkey  </pre> <br />
                    <input id="tpAppKey" type="text" style="height:25px;margin-left:20px;width:75px;" placeholder="App Key" /> <input id="toKey" type="text" style="height:25px;margin-left:20px;width:75px;" placeholder="Your Key" /> <button id="btnGetVal" style="margin-left:20px;height:25px;">Get Val</button> <input id="toVal" type="text" style="margin-left:15px;height:22px;width:100px;" placeholder="Your Value" /><br /><br />
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div style="border-radius:15px;text-align:left;border: 2px red dashed;width:97%;margin-left: 15px;padding-left:15px;padding-top:15px;">
        <b>Javascript: </b> <br /><br />
        <button id="btnjskey" style="margin-left:20px;height:25px;">Get App Key</button> 
        <input id="appkey" type="text" style="height:22px;" placeholder="App Key" /> 
        <button id="btnjscode" style="margin-left:10px;height:25px;">Generate Code</button>
        <br />
        <pre style="background-color:#dad1d1;line-height:15px;display: inline-block;margin-left:20px;"> 
        &lt;script type="text/javascript"&gt;
            var getValue = function (appkey, itemkey) {
                $.ajax({
                    type: "GET",
                    url: "http://keyvalue.immanuel.co/api/KeyVal/GetValue/" + appkey + "/" + itemkey,
                    contentType: false,
                    processData: false
                  }).done(function (data) {

                  }).fail(function(err){

                });
            }
            var updateValue = function (appkey, itemkey, itemval) {
                $.ajax({
                    type: "POST",
                    url: "http://keyvalue.immanuel.co/api/KeyVal/UpdateValue/" + appkey + "/" + itemkey + "/" + itemval,
                    contentType: false,
                    processData: false
                   }).done(function (data) {

                   }).fail(function(err){
                    
                });
            }
            var actOnValue = function (appkey, itemkey, action) {
                $.ajax({
                    type: "POST",
                    url: "http://keyvalue.immanuel.co/api/KeyVal/ActOnValue/" + appkey + "/" + itemkey + "/" + action,
                    contentType: false,
                    processData: false
                   }).done(function (data) {

                   }).fail(function(err){
                    
                });
            }
        &lt;/script&gt;
        Usage: 
            - getValue('appKey', 'ItekKey') //Get already stored value, else null
            - updateValue('appKey', 'ItekKey', 'ItemValue') //Update stored key & value
            - actOnValue('appKey', 'ItekKey', 'Increment') //action 'Increment', will +1
        </pre>  <br />
    </div>
    <script>
            $(function () {
                $.ajax({
                    type: "GET",
                    url: "http://keyvalue.immanuel.co/api/KeyVal/GetCount",
                    contentType: false,
                    processData: false
                }).done(function (data) {
                    //$('.fb').text(data);
                    $('.fb').animationCounter({
                        start: data,
                        step: 1,
                        delay: 8000
                    });
                });


                var getAppKey = function () {
                    $.ajax({
                        type: "GET",
                        url: "http://keyvalue.immanuel.co/api/KeyVal/GetAppKey",
                        contentType: false,
                        processData: false
                    }).done(function (data) {
                        $("#appkey").val(data);
                        $("#yrAppKey").val(data);
                    });
                }

                $("#btnkey").on("click", function () { getAppKey(); });

                var updateKeyVal = function () {
                    var apk = ($("#yrAppKey").val() || $("#appkey").val());
                    var yrKey = $("#yrKey").val();
                    if (!yrKey) {
                        alert('Your Key is empty.');
                        return;
                    }
                    var yrVal = $("#yrVal").val();
                    $.ajax({
                        type: "POST",
                        url: "http://keyvalue.immanuel.co/api/KeyVal/UpdateValue/" + apk + "/" + yrKey + "/" + yrVal,
                        contentType: false,
                        processData: false
                    }).done(function (data) {
                        $("#tpAppKey").val(apk);
                        $("#toKey").val(yrKey);
                        $("#toVal").val(yrVal);
                    });
                }

                $("#btnUpdate").on("click", function () { updateKeyVal(); });

                var getVal = function () {
                    $("#toVal").val("");
                    var apk = ($("#tpAppKey").val() || $("#yrAppKey").val() || $("#appkey").val());
                    var toKey = $("#toKey").val();
                    if (!toKey) {
                        alert('Your Key is empty.');
                        return;
                    }
                    $.ajax({
                        type: "GET",
                        url: "http://keyvalue.immanuel.co/api/KeyVal/GetValue/" + apk + "/" + toKey,
                        contentType: false,
                        processData: false
                    }).done(function (data) {
                        $("#toVal").val(data);
                    });
                }

                $("#btnGetVal").on("click", function () { getVal(); });
            });
    </script>
</body>
</html>